| <!DOCTYPE html>
html
  head
    include ./head-includes.pug
    script(src='/js/dashboard_client.js')
    block headExtras
    title Polls Made Easy - Dashboard
  body
    div(class='jumbotron text-center')
      h1 Welcome, #{username}.
      block jumbotronExtras
    block bodyExtras
