extends ./dashboard.pug
block headExtras
  script(src='/js/dashboard_add.js')
block bodyExtras
  h3(class='text-center') Create A Poll
  form(id='new-poll', method='post')
    div(class='form-group')
      input(type='text', class='form-control poll-title', name='poll_title', id='poll_title', placeholder='Poll Title')
    each q in [0, 1, 2]
      - var containerID = 'answer_container_' + q
      - var answerID = 'poll_answer_' + q
      - var inputPlaceholder = 'Answer '+ (q + 1)
      div(class='input-group poll-answer', id=containerID)
        span(class='input-group-btn')
          button(class='btn btn-success btn-addb', type='button') Add above
        input(type='text' class='form-control', name=answerID, placeholder=inputPlaceholder)
        span(class='input-group-btn')
          button(class='btn btn-danger btn-remove', type='button') Remove
    div(class='btn-group btn-group-lg btn-group-fw', role='group', aria-label='Actions')
        button(class='btn btn-default btn-success btn-adda', type='button')
          | Add above
        button(class='btn btn-default btn-primary btn-submit', type='submit') Create Poll
