extends ./dashboard.pug

block jumbotronExtras
  div(class='btn-group btn-group-lg', role='group', aria-label='Admin actions')
    a(role='button', class='btn btn-default btn-success', id='btn-new', href='/dashboard/new')
      | New Poll
    button(type='button', class='btn btn-default btn-danger', id='btn-logout')
      | Sign Out

block bodyExtras
  ul(class='list-group flex-center' id='polls-list')
    each obj in polls
      - var delID = 'del-' + obj._id
      - var editID = 'edit-' + obj._id
      - var voteLink = '/polls/' + obj._id
      li(class='list-group-item')
        button(class='btn btn-default btn-primary', type='button', id=editID)
          | Edit
        a(class='invisible-link', href=voteLink)
          | #{obj.title}
        button(class='btn btn-default btn-danger', type='button', id=delID)
          | Delete
