extends ./base.pug
block head
  script(src='/js/dashboard_client.js')
  block headExtras
  title Polls Made Easy - Dashboard
block body
  include ./navbar.pug
  div(class='jumbotron bg-primary text-xs-center')
    h1 Welcome.
    block jumbotronExtras
  block bodyExtras
