| <!DOCTYPE html>
html
  head
    include ./head-includes.pug
    title Polls Made Easy
  body
    div(class='jumbotron text-center')
      h1 Polls Made Easy
    div(class='container flex-center')
      a(class='btn btn-info', href='/auth', role='button')
        i(class='fa fa-twitter', aria-hidden='true')
        | &nbsp;Sign In using Twitter
