extends ./base.pug
block head
  title Polls Made Easy
block body
  div(class='jumbotron bg-primary text-xs-center')
    h1 Polls Made Easy
    if isAuthorized
      a(class='btn btn-success', href='/dashboard', role='button')
        | Go to your dashboard
    else
      a(class='btn btn-info', href='/auth', role='button')
        i(class='fa fa-twitter', aria-hidden='true')
        | &nbsp;Sign In using Twitter
  include ./polls-list.pug
