extends ./poll-view-base.pug

block headExtras
  script(src='/js/poll_vote.js')

block jumbotronExtras
  - var baseURL = '/polls/' + poll._id
  - var resultsURL = baseURL + '/results'
  - var deleteURL = baseURL + '/delete'
  a(href=resultsURL, class='btn btn-success', role='button') View results
  if showDelete
    a(href=deleteURL, role='button', class='btn btn-default btn-danger') Delete

block bodyExtras
  form(id='poll-vote', method='post')
    div(class='list-group', id='poll-answers-container')
      each answer in answers
        button(type='button', class='list-group-item') #{answer}
      input(type='text', class='list-group-item', id='new-answer', name='new-answer', placeholder = 'Your answer here')
    input(type='hidden', name='selected-answer', id='selected-answer' value='')
    button(class='btn btn-default btn-primary btn-submit', type='submit') Vote
