extends ./poll-view-base.pug
block headExtras
  script(src='/js/poll_view.js')

block jumbotronExtras
  + buttonBar('', 'Vote again', 'btn-success')

block bodyExtras
  div(class='container')
    canvas(id='results-chart', class='img-responsive')
