.jumbotron, .navbar {
  border-radius: 0;
}

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.poll-answer {
  margin-top: 0.5em;
}

.btn-submit {
  margin-top: 0.5em;
  width: 100%;
}

.list-group .btn {
  margin-top: -0.25em;
}

.list-group input.list-group-item {
  width: 100%;
}

.clear-padding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}
