.jumbotron, .navbar {
  border-radius: 0;
}

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.poll-answer {
  margin-top: 0.5em;
}

.btn-group-fw {
  margin-top: 0.5em;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}
 .btn-group-fw .btn {
   margin-left: 0 !important;
   margin-right: 0 !important;
   width: 50%;
 }
.list-group .btn {
  margin-top: -0.25em;
}

.list-group input.list-group-item {
  width: 100%;
}

.clear-padding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.semi-modal {
  background-color: rgba(10, 10, 10, 0.4);
  width: 100%;
  height: 100%;
}

.img-analytics {
  background-image: url('/images/analytics.jpg');
}

.marketing-text {
  background-size: 100% 100%;
}

.zero-gaps {
  margin-bottom: 0 !important;
  margin-top: 0;
}

.row .jumbotron {
  max-width: 100% !important;
  height: auto !important;
}

.jumbotron .img-fluid {
  width: 100vh;
  height: auto;
}
