.jumbotron {
  background-color: #337ab7;
  color: white;
}

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  float: none;
}

.poll-answer {
  margin-top: 0.5em;
}

.btn-submit {
  margin-top: 0.5em;
  width: 100%;
}

.list-group .btn {
  margin-left: 1em;
  margin-right: 1em;
}

.list-group input.list-group-item {
  width: 100%;
}
